/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.accordion {
    .accordion-item {
        .accordion-header {
            &:hover {
                background: $gray-100;
            }
        }

        .accordion-button {
            font-size: .875rem;

            &:not(.collapsed) {
                font-weight: bold;
            }
        }

        .accordion-body {
            color: var(--tblr-body-color);
            padding: var(--tblr-accordion-body-padding-y) var(--tblr-accordion-body-padding-x);
        }
    }
}
